@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  margin: 0 6%;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}


span {
  color: #00ADB5;
}

